<%- include("partials/head") %>
  <%- include("partials/navbar") %>
    <div class="container my-5 pt-5">
      <h1 class="display-4 text-center mb-5">Search results for: "<%= search %>"
      </h1>
      <div class="row pt-5">
        <%for (let book of books) {%>
          <a class="btn col-3 border-0" href="/books/<%=book.id%>">
            <img src="<%= book.imgUrl %>" class="img-fluid book-image mb-2" alt="">
            <h2 class="display-7 mt-2">
              <%=book.title%>
            </h2>
            <p>
              <% for (let i=0; i < book.rating; i++) {%>
                &#9733;
                <% } %>
            </p>
          </a>
          <%}%>
      </div>
    </div>

    <%- include("partials/footer") %>