<% layout("./layouts/boilerplate") %>
<h1 class="col-12 display-3 text-center">
  Book details
</h1>
<!--- Book Info -->
<div class="row">
  <div class="col-12 col-md-7 my-5" id="show-text">
    <h2 class="display-5">
      <%=book.title%>
    </h2>
    <dl class="row my-5">
      <dt class="col-sm-4">Author</dt>
      <dd class="col-sm-8"><a class="link-secondary" href="/books/authors/<%= book.author %>">
          <%=book.author%>
        </a></dd>
      <dt class="col-sm-4">Category</dt>
      <dd class="col-sm-8">
        <% for (let category of book.category) { %>
        <a class="link-secondary me-2" href="/books/categories/<%=category%>">
          <%=category%>
        </a>
        <% } %>
      </dd>
      <dt class="col-sm-4">Year of publication</dt>
      <dd class="col-sm-8">
        <%=book.year%>
      </dd>
      <dt class="col-sm-4">Rating</dt>
      <dd class="col-sm-8">
        <% for (let i = 0; i < 5; i++) {%>
          <% if (i < book.rating) { %>
          <span>&#9733;</span>
          <% } else {%>
          <span>&#9734;</span>
          <% } %>
          <% } %>
      </dd>
      <dt class="col-sm-4">Summary</dt>
      <dd class="col-sm-8">
        <%=book.summary%>
      </dd>
    </dl>
    <!--- Book interaction: add to list -->
    <% if (currentUser) { %>
    <div class="row mb-4">
      <div class="col-12 btn-group" role="group">
        <% if (!currentUser.readBooks.includes(book.id)) { %>
        <a class="col-12 col-sm-4 btn btn-outline-dark <% if (currentUser.wishlist.includes(book.id)) {%>disabled<% } %>" href="/books/<%= book.id %>/read">+ Read</a>
        <% } else {%>
        <a class="col-12 col-sm-4 btn btn-dark" href="/books/<%= book.id %>/read/remove">Read</a>
        <% } %>
        <% if (!currentUser.favouriteBooks.includes(book.id)) { %>
        <a class="col-12 col-sm-4 btn btn-outline-dark <% if (currentUser.wishlist.includes(book.id)) {%>disabled<% } %>" href="/books/<%= book.id %>/favourite">+ Favs</a>
        <% } else {%>
        <a class="col-12 col-sm-4 btn btn-dark" href="/books/<%= book.id %>/favourite/remove">Favs</a>
        <% } %>
        <% if (!currentUser.wishlist.includes(book.id)) { %>
        <a class="col-12 col-sm-4 btn btn-outline-dark <% if (currentUser.readBooks.includes(book.id)) {%>disabled<% } %>" href="/books/<%= book.id %>/wishlist">+ Wishlist</a>
        <% } else {%>
        <a class="col-12 col-sm-4 btn btn-dark" href="/books/<%= book.id %>/wishlist/remove">Wishlist</a>
        <% } %>
      </div>
    </div>
    <% } %>

    <!-- Book interaction: edit or delete -->
    <% if (currentUser && (book.createdBy.equals(currentUser._id) || isAdmin)) { %>
    <div class="row">
      <div class="col-12 btn-group" role="group">
        <a class="btn btn-outline-primary" href="/books/<%= book.id %>/edit"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg></span> Edit</a>
        <button type="submit" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteBookModal"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg></span> Delete
        </button>
      </div>
    </div>

    <!-- Delete Book Modal -->
    <div class="modal fade" id="deleteBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do you really want to delete this book?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form class="row" action="/books/<%= book.id %>?_method=DELETE" method="post">
              <button type="submit" class="btn btn-danger">Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <!-- Reviews -->
    <div class="row my-5 mx-3 mx-sm-0 px-1 px-sm-5 py-5 border border-secondary border-opacity-50 rounded review-box">
      <h3 class="display-6 text-center mb-5">Reviews</h3>
      <% if (currentUser) { %>
      <form class="col-12 mb-5 validated-form" action="/books/<%= book.id %>/reviews" method="post" novalidate>
        <div class="col-12 mb-3">
          <textarea class="form-control" name="body" id="body" cols="30" rows="5" required></textarea>
        </div>
        <div class="col-12 text-center mb-3 mx-auto fs-1">
          <span class="stars" id="star-1">&#9734;</span>
          <span class="stars" id="star-2">&#9734;</span>
          <span class="stars" id="star-3">&#9734;</span>
          <span class="stars" id="star-4">&#9734;</span>
          <span class="stars" id="star-5">&#9734;</span>
        </div>
        <div class="col-12 mb-3 review-rating">
          <input class="form-control" type="number" name="rating" id="rating" min="1" max="5" required>
        </div>
        <div class="col-12 my-2 d-grid gap-2">
          <button type="submit" class="btn btn-outline-success" id="review-submit">Add review</button>
        </div>
      </form>
      <% } %>
      <ul class="list-unstyled mb-5">
        <%for (let review of book.reviews) {%>
        <% if (currentUser && (review.author.equals(currentUser._id) || isAdmin)) { %>
        <a data-bs-toggle="modal" data-bs-target="#deleteReviewModal<%=review.id%>" class="review-user link-unstyled">
          <% } %>
          <div class="review card mb-3 p-0 px-lg-3 py-lg-2">
            <div class="card-body review-card">
              <h4 class="card-title">
                <% for (let i = 0; i < 5; i++) {%>
                <% if (i < review.rating) { %>
                <span>&#9733;</span>
                <% } else {%>
                <span>&#9734;</span>
                <% } %>
                <% } %>
                <%= review.author.username %>
              </h4>
              <p class="card-text">
                <%=review.body%>
              </p>
            </div>
          </div>
          <% if (currentUser && (review.author.equals(currentUser._id) || isAdmin)) { %>
        </a>
        <!-- Delete Review Modal -->
        <div class="modal fade" id="deleteReviewModal<%=review.id%>" tabindex="-1" aria-labelledby="deleteReviewModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteReviewModalLabel">Warning</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Do you really want to delete this review?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="/books/<%= book.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </ul>
      <% if (book.reviews.length === 0) { %>
      <p class="display-7 text-center">No reviews have been added yet!</p>
      <% } %>
    </div>
  </div>
  <div class="col-12 col-md-4 offset-md-1 my-5 px-5 px-md-2" id="show-image">
    <img class="img-fluid mx-auto book-image w-100" src="<%= book.imgUrl %> " alt="">
  </div>
</div>
<script src="/js/stars.js"></script>