<% layout("./layouts/boilerplate") %>
  <h1 class="col-12 display-3 text-center">
    Book details
  </h1>
  <div class="row">
    <div class="col-6 my-5">
      <h2 class="display-5">
        <%=book.title%>
      </h2>
      <dl class="row my-5">
        <dt class="col-sm-4">Author</dt>
        <dd class="col-sm-8"><a class="link-secondary" href="/books/authors/<%= book.author %>">
            <%=book.author%>
          </a></dd>
        <dt class="col-sm-4">Year of publication</dt>
        <dd class="col-sm-8">
          <%=book.year%>
        </dd>
        <dt class="col-sm-4">Summary</dt>
        <dd class="col-sm-8">
          <%=book.summary%>
        </dd>
      </dl>
      <% if (currentUser) { %>
        <div class="row mb-4">
          <div class="col-12 btn-group" role="group">
            <a class="btn btn-outline-dark" href="/books/<%= book.id %>/edit"><span><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg></span> Add to library</a>
            <a class="btn btn-outline-dark" href="/books/<%= book.id %>/edit"><span><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg></span> Add to Favourites</a>
            <a class="btn btn-outline-dark" href="/books/<%= book.id %>/edit"><span><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg></span> Add to Wishlist</a>
          </div>
        </div>
        <% } %>
          <% if (currentUser && (book.createdBy.equals(currentUser._id) || currentUser._id.equals(admin))) { %>
            <form class="row" action="/books/<%= book.id %>?_method=DELETE" method="post">
              <div class="col-12 btn-group" role="group">
                <a class="btn btn-outline-primary" href="/books/<%= book.id %>/edit"><span><svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                      viewBox="0 0 16 16">
                      <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg></span> Edit</a>
                <button type="submit" class="btn btn-outline-danger"><span><svg xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg></span> Delete
                </button>
              </div>
            </form>
            <% } %>
              <div class="row my-5 px-5 py-5 border border-secondary border-opacity-50 rounded">
                <h3 class="display-6 text-center mb-5">Reviews</h3>
                <% if (currentUser) { %>
                  <form class="col-12 mb-5 validated-form" action="/books/<%= book.id %>/reviews" method="post"
                    novalidate>
                    <div class="col-12 mb-3">
                      <label class="form-label" for="body">Review:</label>
                      <textarea class="form-control" name="body" id="body" cols="30" rows="5" required></textarea>
                    </div>
                    <div class="col-6 mb-3">
                      <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                          aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                    </div>
                    <div class="col-12 my-2 d-grid gap-2">
                      <button type="submit" class="btn btn-outline-success">Add review</button>
                    </div>
                  </form>
                  <% } %>
                    <ul class="list-unstyled mb-5">
                      <%for (let review of book.reviews) {%>
                        <div class="card mb-3 px-3">
                          <div class="card-body review-card pb-0">
                            <h4 class="card-title">
                              <%= review.author.username %>
                                <% if (currentUser && (book.createdBy.equals(currentUser._id) ||
                                  currentUser._id.equals(admin))) { %>
                                  <form action="/books/<%= book.id %>/reviews/<%= review.id %>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-sm btn-outline-danger">Delete</button>
                                  </form>
                                  <% } %>
                            </h4>
                            <p class="card-text">
                              <%=review.body%>
                            </p>
                            <p class="starability-result" data-rating="<%= review.rating %>">Rated: <%= review.rating %>
                                stars
                            </p>
                          </div>
                        </div>
                        <% } %>
                    </ul>
              </div>
    </div>
    <div class="col-5 offset-1 my-5 px-5">
      <img class="img-fluid" id="book-image" src="<%= book.imgUrl %> " alt="">
    </div>
  </div>