<div class="offcanvas offcanvas-top text-bg-dark" tabindex="-1" id="offcanvasOrder" aria-labelledby="offcanvasOrderLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title display-7" id="offcanvasOrderLabel">Order by:</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row" id="order-large">
      <div class="btn-group col-12">
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=random" class="btn btn-outline-light<% if (order==="random") { %> active" aria-current="page<% } %>">Random</a>
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=title" class="btn btn-outline-light<% if (order==="title") { %> active" aria-current="page<% } %>">Title</a>
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=yearAsc" class="btn btn-outline-light<% if (order==="yearAsc") { %> active" aria-current="page<% } %>">Year &#8593</a>
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=yearDesc" class="btn btn-outline-light<% if (order==="yearDesc") { %> active" aria-current="page<% } %>">Year &#8595</a>
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=ratingAsc" class="btn btn-outline-light<% if (order==="ratingAsc") { %> active" aria-current="page<% } %>">Rating &#8593</a>
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=ratingDesc" class="btn btn-outline-light<% if (order==="ratingDesc") { %> active" aria-current="page<% } %>">Rating &#8595</a>
      </div>
    </div>
    <div class="row" id="order-small">
      <div class="btn-group btn-group-sm col-12 mb-1">
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=random" class="col-6 btn btn-outline-light<% if (order==="random") { %> active" aria-current="page<% } %>">Random</a>
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=title" class="col-6 btn btn-outline-light<% if (order==="title") { %> active" aria-current="page<% } %>">Title</a>
      </div>
      <div class="btn-group btn-group-sm col-12 mb-1">
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=yearAsc" class="col-6 btn btn-outline-light<% if (order==="yearAsc") { %> active" aria-current="page<% } %>">Year &#8593</a>
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=yearDesc" class="col-6 btn btn-outline-light<% if (order==="yearDesc") { %> active" aria-current="page<% } %>">Year &#8595</a>
      </div>
      <div class="btn-group btn-group-sm col-12 mb-1">
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=ratingAsc" class="col-6 btn btn-outline-light<% if (order==="ratingAsc") { %> active" aria-current="page<% } %>">Rating &#8593</a>
        <a href="?<% if (search) { %>search=<%=search%>&<% } %>order=ratingDesc" class="col-6 btn btn-outline-light<% if (order==="ratingDesc") { %> active" aria-current="page<% } %>">Rating &#8595</a>
      </div>
    </div>
  </div>
</div>