<% layout("./layouts/boilerplate") %>
<h1 class="display-3 text-center ">
  <%= user.username %>'s Library
</h1>
<% if (!currentUser.following.includes(user.id)) { %>
<form method="POST" action="/community/<%=user.username%>/follow?_method=PATCH" class="row mt-0 mb-5">
  <span class="text-end col-4 offset-3 display-7">Followers: <%= user.followers.length %> Following: <%= user.following.length %></span>
  <button class="btn btn-success col-1">Follow +</button>
</form>
<% } else { %>
  <form method="POST" action="/community/<%=user.username%>/unfollow?_method=PATCH" class="row mt-0 mb-5">
    <span class="text-end col-4 offset-3 display-7">Followers: <%= user.followers.length %> Following: <%= user.following.length %></span>
    <button class="btn btn-outline-success col-1">Unfollow</button>
  </form>
  <% } %>
</div>
<div class="row d-flex justify-content-around">
  <% if (user.readBooks.length !=0) { %>
  <a href="/community/<%=user.username%>/read" class="col-12 col-md-6 my-5 my-md-3 list-element">
    <div class="row">
      <div class="col-12 d-flex px-4 library">
        <%for (let book of user.readBooks.sort((a, b)=> 0.5 - Math.random()).slice(0, 5)) {%>
        <img src="<%= book.imgUrl %>" class="img-fluid book-preview" alt="">
        <%}%>
                    </div>
                    <div class="col-12">
                        <h2 class="mt-2 display-7 text-center">Read Books</h2>
                    </div>
                </div>
            </a>
            <% } else { %>
        <div class="col-12 col-md-6 my-5 my-md-3 d-flex justify-content-center align-items-center empty-list">
          <p class="display-8">Empty Library</p>
        </div>
        <% } %>
        <% if (user.favouriteBooks.length !=0) { %>
        <a href="/community/<%=user.username%>/favourite" class="col-12 col-md-6 my-5 my-md-3 list-element">
          <div class="row">
            <div class="col-12 d-flex px-4 library">
              <%for (let book of user.favouriteBooks.sort((a, b)=> 0.5 - Math.random()).slice(0,
                                        5)) {%>
              <img src="<%= book.imgUrl %>" class="img-fluid book-preview" alt="">
              <%}%>
                                </div>
                                <div class="col-12">
                                    <h2 class="mt-2 display-7 text-center">Favourite Books</h2>
                                </div>
                            </div>
                        </a>
                        <% } else { %>
              <div class="col-12 col-md-6 my-5 my-md-3 d-flex justify-content-center align-items-center empty-list">
                <p class="display-8">Empty Favs</p>
              </div>
              <% } %>
              <% if (user.wishlist.length !=0) { %>
              <a href="/community/<%=user.username%>/wishlist" class="col-12 col-md-6 my-5 my-md-3 list-element">
                <div class="row">
                  <div class="col-12 d-flex px-4 library">
                    <%for (let book of user.wishlist.sort((a, b)=> 0.5 -
                                                    Math.random()).slice(0, 5)) {%>
                    <img src="<%= book.imgUrl %>" class="img-fluid book-preview" alt="">
                    <%}%>
                                            </div>
                                            <div class="col-12">
                                                <h2 class="mt-2 display-7 text-center">Wishlist</h2>
                                            </div>
                                        </div>
                                    </a>
                                    <% } else { %>
                    <div class="col-12 col-md-6 my-5 my-md-3 d-flex justify-content-center align-items-center empty-list">
                      <p class="display-8">Empty Wishlist</p>
                    </div>
                    <% } %>
                  </div>